.projectCard {
    background-color: rgb(254, 254, 254);
     width: 300px;
      height: 300px;
       border-radius: 5px;
       box-shadow: 0 0.14px 2.29266px rgba(0,0,0,.032), 0 0.37px 4.42626px rgba(0,0,0,.048), 0 3px 7px rgba(0,0,0,.09);
         position: relative;
       cursor: pointer;
       a {
         text-decoration: none;
          color: inherit;
     } 
        img{
            width: 100%;
             height: 70%;
             object-fit: cover;
        }
        .info{
             display: flex;
             align-items: center;
             gap: 25px;
            img{
                 width: 40px;
                 height: 40px;
                 border-radius: 50%;
                 object-fit: cover;

            }
            .texts{
                h2{
font-size: 16px;
font-weight: 500;
 opacity: 0.7;
                }
                span{
                    color: #95979d;
font-size: 14px;
font-weight: 300;
                }
            }
        }
}