.navbar {
    display: flex;
    justify-content: center;
     background-color: #3f95ec;
      color: white;
    .container{
width: 1400px;
  display: flex;
   justify-content: space-between;
   padding: 20px 0px;
    }
     .logo{
        font-size: 34px;
        font-weight: bold;

     }
     .navlogo_dot{
        color:#ffffff;
     }
     .links{
         display: flex;
          align-items: center;
          gap: 24px;
          font-weight: 500;
         button{
             color: white;
              padding: 10px 20px;
              border-radius: 5px;
               border: 1px solid white;
              cursor: pointer;
              background-color: transparent;
            &:hover {
                    background-color: #ffffff;
                    border-color: #3f95ec;
                     color: #3f95ec;
                }
         }
          
     }
}